
<h1>Estudiantes</h1>

<h3><small><%= @alumnos.count != Alumno.all.count ? "La búsqueda devolvió #{@alumnos.count} registros." : "Buscar sobre un total de #{@alumnos.count} registros." %></small></h3>
<p>  <%= link_to "Excel", alumnos_path(format: "xls") %> </p>

<%= form_tag alumnos_path, :method => 'get' do %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Localidad</th>
      <th>Sede</th>	  
      <th>SIGAE</th>
      <th>Legajo</th>
      <th>Observación</th>
      <th>Comentario</th>	  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr>
		<td><%= text_field_tag :dni, params[:dni], :class => "form-control" %></td>
		<td><%= text_field_tag :nombre, params[:nombre], :class => "form-control" %></td>
		<td><%= text_field_tag :apellido, params[:apellido], :class => "form-control" %></td>
		<td><%= select_tag :sexo, options_for_select([["", ""], ["M", "M"], ["F", "F"]], params[:sexo]), :class => "form-control" %></td>
		<td><%= text_field_tag :localidad, params[:localidad], :class => "form-control" %></td>
		<td><%= text_field_tag :sede, params[:sede], :class => "form-control" %></td>
		<td><%= select_tag :sigae, options_for_select([["", ""], ["☑", "true"], ["☐", "false"]], params[:sigae]), :class => "form-control" %></td>
		<td><%= select_tag :legajo, options_for_select([["", ""], ["☑", "true"], ["☐", "false"]], params[:legajo]), :class => "form-control" %></td>
		<td><%= text_field_tag :observacion, params[:observacion], :class => "form-control" %></td>
		<td><%= text_field_tag :comentario, params[:comentario], :class => "form-control" %></td>
		<td colspan="2"></td>
		<td><%= submit_tag("Buscar", :name => nil, :class => "form-control") %></td>
	</tr>
<% end %>

    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.dni %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.sexo %></td>
        <td><%= alumno.localidad.localidad %></td>
        <td><%= alumno.sede.escuela if alumno.sede_id %></td>
        <td><span class="btn" style="cursor: not-allowed; pointer-events: none"><span class='glyphicon <%= alumno.sigae ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></span></td>
		<td>
		  <!-- Button trigger modal -->		  
			<a class='btn btn-link' data-toggle="popover" data-target="#alumno-<%= alumno.id %>">
				<span class='glyphicon <%= alumno.inscripcion_certificado && alumno.inscripcion_foto && alumno.inscripcion_partida && alumno.inscripcion_ficha ? "glyphicon-checked" : "glyphicon-unchecked"  %>'/>
			</a>
		  <!-- Modal -->
			<div class="hide" id="alumno-<%= alumno.id %>" aria-hidden="true">				
				<div>
					<div class="modal-header">
						<h4 class="modal-title" id="alumno-<%= alumno.id %>">Estado de la Inscripción: <br><%= alumno.nombre %> <%= alumno.apellido %></h4>
					</div>
					<div class="modal-body">
						<table class="table-condensed">
							<tr><td>Ficha</td><td><span class='glyphicon <%= alumno.inscripcion_ficha ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></td></tr>
							<tr><td>Fotocopia DNI</td><td><span class='glyphicon <%= alumno.inscripcion_foto ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></td></tr>
							<tr><td>Partida</td><td><span class='glyphicon <%= alumno.inscripcion_partida ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></td></tr>
							<tr><td>Certificado</td><td><span class='glyphicon <%= alumno.inscripcion_certificado ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></td></tr>
							<tr><td>Comentario</td><td><span class=''><%= alumno.comentario_inscripcion %></span></td></tr>			
						</table>
					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</td>
		<td><%= alumno.observacion %></td>
		<td><%= alumno.comentario %></td>
        <td><%= link_to 'Mostrar', alumno, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_alumno_path(alumno), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end if @alumnos.count != Alumno.all.count %>

  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_alumno_path, class: 'btn' %>
<%= link_to "Importar Estudiantes", new_alumno_import_path, class: 'btn' %>
