
<h1>Alumnos</h1>
<h3><small><%= "La búsqueda devolvió #{@alumnos.count} registros." if @alumnos.count != Alumno.all.count %></small></h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Localidad</th>      
      <th>Sede</th>
      <th>Legajo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<tr><%= form_tag alumnos_path, :method => 'get' do %>
		<td><%= text_field_tag :dni, params[:dni] %></td>
		<td><%= text_field_tag :nombre, params[:nombre] %></td>
		<td><%= text_field_tag :apellido, params[:apellido] %></td>
		<td><%= text_field_tag :localidad, params[:localidad] %></td>
		<td></td>	
		<td colspan="3"></td>
		<td><%= submit_tag("Buscar", :name => nil) %></td>
	  <% end %>
	</tr>
  
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.dni %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido %></td>
        <td><%= alumno.localidad.localidad %></td>
        <td><%= alumno.sede.escuela %></td>
		<td>
		  <!-- Button trigger modal -->
			<button class="btn btn-link" data-toggle="modal" data-target="#alumno-<%= alumno.id %>">
				<span class='glyphicon <%= alumno.inscripcion_certificado && alumno.inscripcion_foto && alumno.inscripcion_partida && alumno.inscripcion_ficha ? "glyphicon-ok" : "glyphicon-remove"  %>'/>
			</button>
		  <!-- Modal -->
			<div class="modal fade" id="alumno-<%= alumno.id %>" tabindex="-1" role="dialog" aria-labelledby="alumno-<%= alumno.id %>" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="alumno-<%= alumno.id %>">Estado de la Inscripción: <br><%= alumno.nombre %> <%= alumno.apellido %></h4>
						</div>
						<div class="modal-body">
							<table class="table-condensed">
								<tr><td>Ficha</td><td><span class='glyphicon <%= alumno.inscripcion_ficha ? "glyphicon-ok" : "glyphicon-remove"  %>'/></td></tr>
								<tr><td>Fotocopia DNI</td><td><span class='glyphicon <%= alumno.inscripcion_foto ? "glyphicon-ok" : "glyphicon-remove"  %>'/></td></tr>
								<tr><td>Partida</td><td><span class='glyphicon <%= alumno.inscripcion_partida ? "glyphicon-ok" : "glyphicon-remove"  %>'/></td></tr>
								<tr><td>Certificado</td><td><span class='glyphicon <%= alumno.inscripcion_certificado ? "glyphicon-ok" : "glyphicon-remove"  %>'/></td></tr>								
							</table>
						</div>
						<div class="modal-footer">
							<%= link_to 'Editar', edit_alumno_path(alumno), class: 'btn' %>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</div>	
				</div>
			</div>
		</td>
        <td><%= link_to 'Mostrar', alumno, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_alumno_path(alumno), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', alumno, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Alumno', new_alumno_path, class: 'btn' %>
