<h1>Show Alumno</h1>

<p>
  <strong>Dni:</strong>
  <%= @alumno.dni %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @alumno.localidad.localidad %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @alumno.domicilio %>
</p>

<p>
  <strong>Telefono fijo:</strong>
  <%= @alumno.telefono_fijo %>
</p>

<p>
  <strong>Telefono celular:</strong>
  <%= @alumno.telefono_celular %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @alumno.correo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @alumno.fecha_nacimiento %>
</p>

<p>
  <strong>Sede:</strong>
  <%= @alumno.sede.escuela %>
</p>

<p>
  <strong>Inscripcion certificado:</strong>
  <%= @alumno.inscripcion_certificado %>
</p>

<p>
  <strong>Inscripcion fotocopia DNI:</strong>
  <%= @alumno.inscripcion_foto %>
</p>

<p>
  <strong>Inscripcion partida:</strong>
  <%= @alumno.inscripcion_partida %>
</p>

<p>
  <strong>Inscripcion ficha:</strong>
  <%= @alumno.inscripcion_ficha %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>      
      <th>Cohorte</th>
      <th>Modulo</th>
      <th>Fecha acta</th>
      <th>Aula</th>
      <th>Estado</th>
      <th>Calificacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumno.seguimiento.each do |seguimiento| %>
      <tr>        
        <td><%= seguimiento.cohorte %></td>
        <td><%= seguimiento.modulo %></td>
        <td><%= seguimiento.fecha_acta %></td>
        <td><%= seguimiento.aula %></td>
        <td><%= seguimiento.estado %></td>
        <td><%= seguimiento.calificacion %></td>
        <td><%= link_to 'Show', seguimiento, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Edit', edit_seguimiento_path(seguimiento), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Destroy', seguimiento, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seguimiento', new_seguimiento_path, class: 'btn' %>