<h1>Mostrar Estudiante</h1>

<p>
  <strong>DNI:</strong>
  <%= @alumno.dni %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @alumno.apellido %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @alumno.sexo %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @alumno.localidad.localidad %>
</p>

<p>
  <strong>Sede Provincial:</strong>
  <%= @alumno.sede_provincial.localidad if @alumno.sede_provincial %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @alumno.domicilio %>
</p>

<p>
  <strong>Teléfono fijo:</strong>
  <%= @alumno.telefono_fijo %>
</p>

<p>
  <strong>Teléfono celular:</strong>
  <%= @alumno.telefono_celular %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @alumno.correo %>
</p>

<p>
  <strong>Fecha nacimiento:</strong>
  <%= @alumno.fecha_nacimiento %>
</p>

<p>
  <strong>SIGAE:</strong>
  <%= check_box_tag @alumno.sigae, @alumno.sigae, @alumno.sigae, {disabled: true} %>
</p>

<p>
  <strong>Inscripción certificado:</strong>
  <%= check_box_tag @alumno.inscripcion_certificado, @alumno.inscripcion_certificado, @alumno.inscripcion_certificado, {disabled: true} %>
</p>

<p>
  <strong>Inscripción fotocopia DNI:</strong>
  <%= check_box_tag @alumno.inscripcion_foto, @alumno.inscripcion_foto, @alumno.inscripcion_foto, {disabled: true} %>
</p>

<p>
  <strong>Inscripción partida:</strong>
  <%= check_box_tag @alumno.inscripcion_partida, @alumno.inscripcion_partida, @alumno.inscripcion_partida, {disabled: true} %>
</p>

<p>
  <strong>Inscripción ficha:</strong>
  <%= check_box_tag @alumno.inscripcion_ficha, @alumno.inscripcion_ficha, @alumno.inscripcion_ficha, {disabled: true} %>
</p>

<p>
  <strong>Comentario Inscripción</strong>
  <%= @alumno.comentario_inscripcion %>
</p>

<p>
  <strong>Observación</strong>
  <%= @alumno.observacion %>
</p>

<p>
  <strong>Comentario</strong>
  <%= @alumno.comentario %>
</p>

<%= link_to 'Editar', edit_alumno_path(@alumno) %> |
<%= link_to 'Volver', alumnos_path %>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Fecha acta</th>
      <th>Seccion</th>
      <th>Estado</th>
      <th>Calificación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<% seguimientos = @alumno.seguimiento.order(fecha_acta: :desc) %>
    <% seguimientos.each do |seguimiento| %>
      <tr>        
        <td><%= seguimiento.fecha_acta %></td>
        <td><%= seguimiento.seccion.seccion %></td>
        <td><%= seguimiento.estado %></td>
        <td><%= seguimiento.calificacion %></td>
        <td><%= link_to 'Mostrar', seguimiento, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_seguimiento_path(seguimiento), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Seguimiento', new_seguimiento_path, class: 'btn' %>