
<h1>Localidades</h1>

<h3><small><%= @localidades.count != Localidad.all.count ? "La búsqueda devolvió #{@localidades.count} registros." : "Buscar sobre un total de #{@localidades.count} registros." %></small></h3>

<%= form_tag localidades_path, :method => 'get' do %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Localidad</th>
      <th>Region educativa</th>
      <th>Nodo</th>
	  <th>Departamento</th>
	  <th>Es sede provincial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
		<td><%= text_field_tag :localidad, params[:localidad], :class => "form-control" %></td>
		<td><%= text_field_tag :region_educativa, params[:region_educativa], :class => "form-control" %></td>
		<td><%= text_field_tag :nodo, params[:nodo], :class => "form-control" %></td>
		<td><%= text_field_tag :departamento, params[:departamento], :class => "form-control" %></td>
		<td><%= select_tag :es_sede_provincial, options_for_select([["", ""], ["✔", "true"], ["✘", "false"]], params[:es_sede_provincial]), :class => "form-control" %></td>
		<td></td>
		<td></td>
		<td><%= submit_tag("Buscar", :name => nil, :class => "form-control") %></td>
	</tr>
<% end %>

    <% @localidades.each do |localidad| %>
      <tr>
        <td><%= localidad.localidad %></td>
        <td><%= localidad.region_educativa %></td>
        <td><%= localidad.nodo %></td>
		<td><%= localidad.departamento %></td>
		<td><span class="btn" style="cursor: not-allowed; pointer-events: none"><span class='glyphicon <%= localidad.es_sede_provincial ? "glyphicon-ok" : "glyphicon-remove"  %>'/></span></td>
        <td><%= link_to 'Mostrar', localidad, class: 'btn btn-xs'%></td>
        <td><%= link_to 'Editar', edit_localidad_path(localidad), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', localidad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end if @localidades.count != Localidad.all.count %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Localidad', new_localidad_path, class: 'btn' %>
