<h1>Show Sede Provincial</h1>

<p>
  <strong>Localidad:</strong>
  <%= @localidad.localidad %>
</p>

<p>
  <strong>Region educativa:</strong>
  <%= @localidad.region_educativa %>
</p>

<p>
  <strong>Nodo:</strong>
  <%= @localidad.nodo %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @localidad.departamento %>
</p>

<%= link_to 'Editar', edit_localidad_path(@localidad) %> |
<%= link_to 'Volver', localidades_path %>
