<h2>Reenviar instrucciones para restaurar contraseña</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, "Correo electrónico" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Reenviar instrucciones para restaurar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
