
<h1>Secciones</h1>
<h3><small><%= "La búsqueda devolvió #{@secciones.count} registros." if @secciones.count != Seccion.all.count %></small></h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Sección</th>
	  <th>Fecha Inicio</th>
	  <th>Fecha Finalización</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
   <tr><%= form_tag secciones_path, :method => 'get' do %>
		<td><%= text_field_tag :seccion, params[:seccion], :class => "form-control" %></td>		
		<td></td>
		<td></td>
		<td><%= submit_tag("Buscar", :name => nil, :class => "form-control") %></td>
	  <% end %>
	</tr>
  
    <% @secciones.each do |seccion| %>
      <tr>
        <td><%= seccion.seccion %></td>
        <td><%= seccion.fecha_inicio %></td>
        <td><%= seccion.fecha_finalizacion %></td>
        <td><%= link_to 'Editar', edit_seccion_path(seccion), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', seccion, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Sección', new_seccion_path %>
