
<h1>Secciones</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Sección</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @secciones.each do |seccion| %>
      <tr>
        <td><%= seccion.seccion %></td>
        <td><%= link_to 'Show', seccion %></td>
        <td><%= link_to 'Edit', edit_seccion_path(seccion) %></td>
        <td><%= link_to 'Destroy', seccion, method: :delete, data: { confirm: 'Are you sure?', class: 'btn btn-xs' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seccion', new_seccion_path %>
