<h1>Mostrar Sección</h1>

<p>
  <strong>Sección:</strong>
  <%= @seccion.seccion %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @seccion.activa %>
  <%= check_box_tag @seccion.activa, @seccion.activa, @seccion.activa, {disabled: true} %>
</p>

<%= link_to 'Editar', edit_seccion_path(@seccion) %> |
<%= link_to 'Volver', secciones_path %>
