<h1>Mostrar Sección</h1>

<p>
  <strong>Sección:</strong>
  <%= @seccion.seccion %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @seccion.fecha_inicio %>
  <%= date_select_tag @seccion.fecha_inicio, @seccion.fecha_inicio, @seccion.fecha_inicio, {disabled: true} %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @seccion.fecha_finalización %>
  <%= date_select_tag @seccion.fecha_finalización, @seccion.fecha_finalización, @seccion.fecha_finalización, {disabled: true} %>
</p>

<%= link_to 'Editar', edit_seccion_path(@seccion) %> |
<%= link_to 'Volver', secciones_path %>
