<h1>Mostrar Sección</h1>

<p>
  <strong>Sección:</strong>
  <%= @seccion.seccion %>
</p>

<p>
  <strong>Fecha Inicio:</strong>
  <%= @seccion.fecha_inicio %>
</p>

<p>
  <strong>Fecha Finalización:</strong>
  <%= @seccion.fecha_finalizacion %>
</p>

<p>
  <strong>ID Plataforma:</strong>
  <%= @seccion.id_plataforma %>
</p>

<%= link_to 'Editar', edit_seccion_path(@seccion) %> |
<%= link_to 'Volver', secciones_path %>
