
<h1>Seguimientos</h1>

<h3><small><%= @seguimientos.count != Seguimiento.all.count ? "La búsqueda devolvió #{@seguimientos.count} registros." : "Buscar sobre un total de #{@seguimientos.count} registros." %></small></h3>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Alumno</th>
      <th>Fecha acta</th>
      <th>Sección</th>
      <th>Estado</th>
      <th>Calif.</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <tr><%= form_tag seguimientos_path, :method => 'get' do %>
		<td><%= text_field_tag :dni, params[:dni], :class => "form-control" %></td>
		<td><%= text_field_tag :alumno, params[:alumno], :class => "form-control" %></td>
		<td><%= text_field_tag :fecha_acta, params[:fecha_acta], :class => "form-control" %></td>
		<td><%= text_field_tag :seccion, params[:seccion], :class => "form-control" %></td>
		<td><%= select_tag :estado, options_for_select(["", "Aprobado", "Regular", "Recursa", "Abandono"], params[:estado]), :class => "form-control" %></td>				
		<td></td>
		<td colspan="2"><%= check_box_tag :cada_ultimo_registro, "true", params[:cada_ultimo_registro] ? true : params[:cada_ultimo_registro], :class => "checkbox" %><small>Sólo últimos registros</small></td>
		<td><%= submit_tag("Buscar", :name => nil, :class => "form-control") %></td>
	  <% end %>
	</tr>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
		<td><%= seguimiento.alumno.dni %></td>
        <td><%= seguimiento.alumno.alumno %></td>
        <td><%= seguimiento.fecha_acta %></td>
        <td><%= seguimiento.seccion.seccion %></td>
        <td><%= seguimiento.estado %></td>
        <td><%= seguimiento.calificacion %></td>
        <td><%= link_to 'Mostrar', seguimiento, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_seguimiento_path(seguimiento), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: 'Está Seguro?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end if @seguimientos.count != Seguimiento.all.count %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Seguimiento', new_seguimiento_path, class: 'btn' %>
