
<h1>Seguimientos</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Cohorte</th>
      <th>Módulo</th>
      <th>Fecha acta</th>
      <th>Sección</th>
      <th>Estado</th>
      <th>Calif.</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%="#{seguimiento.alumno.apellido}, #{seguimiento.alumno.nombre}" %></td>
        <td><%= seguimiento.cohorte %></td>
        <td><%= seguimiento.modulo %></td>
        <td><%= seguimiento.fecha_acta %></td>
        <td><%= seguimiento.seccion.seccion %></td>
        <td><%= seguimiento.estado %></td>
        <td><%= seguimiento.calificacion %></td>
        <td><%= seguimiento.comentario.length < 25 ? seguimiento.comentario : seguimiento.comentario[0..30]+	"..." %></td>
        <td><%= link_to 'Mostrar', seguimiento, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_seguimiento_path(seguimiento), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: 'Está Seguro?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Seguimiento', new_seguimiento_path, class: 'btn' %>
