
<h1>Seguimientos</h1>
<h3><small><%= "La búsqueda devolvió #{@seguimientos.count} registros." if @seguimientos.count != Seguimiento.all.count %></small></h3>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Alumno</th>
      <th>Fecha acta</th>
      <th>Sección</th>
      <th>Estado</th>
      <th>Calif.</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <tr><%= form_tag seguimientos_path, :method => 'get' do %>
		<td><%= text_field_tag :alumno, params[:alumno] %></td>
		<td><%= text_field_tag :fecha_acta, params[:fecha_acta] %></td>
		<td><%= text_field_tag :seccion, params[:seccion] %></td>
		<td><%= select_tag :estado, options_for_select(["", "Aprobado", "Regular", "Recursa", "Abandono"], params[:estado]) %></td>				
		<td></td>
		<td><%= text_field_tag :comentario, params[:comentario] %></td>
		<td></td>
		<td></td>
		<td><%= submit_tag("Buscar", :name => nil) %></td>
	  <% end %>
	</tr>
    <% @seguimientos.each do |seguimiento| %>
      <tr>
        <td><%= seguimiento.alumno.alumno %></td>
        <td><%= seguimiento.fecha_acta %></td>
        <td><%= seguimiento.seccion.seccion %></td>
        <td><%= seguimiento.estado %></td>
        <td><%= seguimiento.calificacion %></td>
        <td><%= seguimiento.comentario.length < 25 ? seguimiento.comentario : seguimiento.comentario[0..30]+	"..." %></td>
        <td><%= link_to 'Mostrar', seguimiento, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_seguimiento_path(seguimiento), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', seguimiento, method: :delete, data: { confirm: 'Está Seguro?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Seguimiento', new_seguimiento_path, class: 'btn' %>
