<h1>Show Seguimiento</h1>

<p>
  <strong>Alumno:</strong>
  <%= @seguimiento.alumno.nombre %>
</p>

<p>
  <strong>Fecha acta:</strong>
  <%= @seguimiento.fecha_acta %>
</p>

<p>
  <strong>Seccion:</strong>
  <%= @seguimiento.seccion.seccion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @seguimiento.estado %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @seguimiento.calificacion %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @seguimiento.comentario %>
</p>

<%= link_to 'Editar', edit_seguimiento_path(@seguimiento) %> |
<%= link_to 'Volver', seguimientos_path %>
