<%= form_for(sede) do |f| %>
  <% if sede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sede.errors.count, "error") %> prohibited this sede from being saved:</h2>

      <ul>
      <% sede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :escuela %>
    <%= f.text_field :escuela %>
  </div>

  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion %>
  </div>
  
  <div class="field">
    <%= f.label :localidad_id %>
    <%= f.select :localidad_id, options_for_select(Localidad.all.map{ |l| [l.localidad, l.id] }, sede[:localidad_id]) %>
  </div>
  
  <div class="field">
    <%= f.label :telefono, "Teléfono" %>
    <%= f.text_field :telefono %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :nombre_contacto %>
    <%= f.text_field :nombre_contacto %>
  </div>
  
  <div class="field">
    <%= f.label :telefono_contacto, "Teléfono contacto" %>
    <%= f.text_field :telefono_contacto %>
  </div>
  
  <div class="field">
    <%= f.label :email_contacto %>
    <%= f.text_field :email_contacto %>
  </div>

  <div class="field">
    <%= f.label :tipo_sede_presencial %>
    <%= f.check_box :tipo_sede_presencial %>
  </div>
  
  <div class="field">
    <%= f.label :tipo_sede_conectividad %>
    <%= f.check_box :tipo_sede_conectividad %>
  </div>
  
  <div class="field">
    <%= f.label :tipo_sede_consulta %>
    <%= f.check_box :tipo_sede_consulta %>
  </div>
  
  <div class="field">
    <%= f.label :tiene_pc, "Tiene PC" %>
    <%= f.check_box :tiene_pc %>
  </div>
  
    <div class="field">
    <%= f.label :tiene_internet, "Tiene Internet" %>
    <%= f.check_box :tiene_internet %>
  </div>
  
    <div class="field">
    <%= f.label :observaciones %>
    <%= f.text_field :observaciones %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
