<%= form_for(sede) do |f| %>
  <% if sede.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sede.errors.count, "error") %> prohibited this sede from being saved:</h2>

      <ul>
      <% sede.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :escuela %>
    <%= f.text_field :escuela %>
  </div>

  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion %>
  </div>
  
  <div class="field">
    <%= f.label :localidad_id %>
    <%= f.select :localidad_id, options_for_select(Localidad.all.map{ |l| [l.localidad, l.id] }, sede[:localidad_id]) %>
  </div>
  
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono %>
  </div>
  
  <div class="field">
    <%= f.label :nombre_contacto %>
    <%= f.text_field :nombre_contacto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
