
<h1>Sedes Territoriales</h1>

<h3><small><%= @sedes.count != Sede.all.count ? "La búsqueda devolvió #{@sedes.count} registros." : "Buscar sobre un total de #{@sedes.count} registros." %></small></h3>

<%= form_tag sedes_path, :method => 'get' do %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Escuela</th>
      <th>Direccion</th>
      <th>Localidad</th>
	  <th>Email</th>
	  <th>Teléfono</th>
	  <th>Nombre Contacto</th>      
      <th>Email Contacto</th>
	  <th>Teléfono Contacto</th>
	  <th>Presencial</th>
	  <th>Consulta</th>
	  <th>Conectividad</th>
	  <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
		<td><%= text_field_tag :escuela, params[:escuela], :class => "form-control" %></td>
		<td><%= text_field_tag :direccion, params[:direccion], :class => "form-control" %></td>
		<td><%= text_field_tag :localidad, params[:localidad], :class => "form-control" %></td>
		<td></td>
		<td></td>
		<td><%= text_field_tag :nombre_contacto, params[:nombre_contacto], :class => "form-control" %></td>
		<td></td>
		<td></td>
		<td><%= select_tag :tipo_sede_presencial, options_for_select([["", ""], ["☑", "true"], ["☐", "false"]], params[:tipo_sede_presencial]), :class => "form-control" %></td>
		<td><%= select_tag :tipo_sede_consulta, options_for_select([["", ""], ["☑", "true"], ["☐", "false"]], params[:tipo_sede_consulta]), :class => "form-control" %></td>
		<td><%= select_tag :tipo_sede_conectividad, options_for_select([["", ""], ["☑", "true"], ["☐", "false"]], params[:tipo_sede_conectividad]), :class => "form-control" %></td>
		<td></td>
		<td></td>
		<td><%= submit_tag("Buscar", :name => nil, :class => "form-control") %></td>
	  </tr>
<% end %>
  
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= sede.escuela %></td>
        <td><%= sede.direccion %></td>
        <td><%= sede.localidad.localidad %></td>
		<td><%= sede.email %></td>
		<td><%= sede.telefono %></td>
        <td><%= sede.nombre_contacto %></td>
		<td><%= sede.email_contacto %></td>
		<td><%= sede.telefono_contacto %></td>
		<td><span class="btn" style="cursor: not-allowed; pointer-events: none"><span class='glyphicon <%= sede.tipo_sede_presencial ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></span></td>
		<td><span class="btn" style="cursor: not-allowed; pointer-events: none"><span class='glyphicon <%= sede.tipo_sede_consulta ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></span></td>
		<td><span class="btn" style="cursor: not-allowed; pointer-events: none"><span class='glyphicon <%= sede.tipo_sede_conectividad ? "glyphicon-check" : "glyphicon-unchecked"  %>'/></span></td>
        <td><%= link_to 'Mostrar', sede, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Editar', edit_sede_path(sede), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Eliminar', sede, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end if @sedes.count != Sede.all.count %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Sede', new_sede_path, class: 'btn' %>
