
<h1>Sedes Territoriales</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>Escuela</th>
      <th>Direccion</th>
      <th>Teléfono</th>
      <th>Nombre Contacto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr><%= form_tag sedes_path, :method => 'get' do %>
		<td><%= text_field_tag :escuela, params[:escuela] %></td>
		<td><%= text_field_tag :direccion, params[:direccion] %></td>
		<td><%= text_field_tag :telefono, params[:telefono] %></td>
		<td><%= text_field_tag :nombre_contacto, params[:nombre_contacto] %></td>
		<td></td>
		<td></td>		
		<td><%= submit_tag("Search", :name => nil) %></td>
	    <% end %>
	  </tr>
  
  
    <% @sedes.each do |sede| %>
      <tr>
        <td><%= sede.escuela %></td>
        <td><%= sede.direccion %></td>
        <td><%= sede.telefono %></td>
        <td><%= sede.nombre_contacto %></td>
        <td><%= link_to 'Show', sede, class: 'btn btn-xs' %></td>
        <td><%= link_to 'Edit', edit_sede_path(sede), class: 'btn btn-xs' %></td>
        <td><%= link_to 'Destroy', sede, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sede', new_sede_path, class: 'btn' %>
