<h1>Show Sedes</h1>

<p>
  <strong>Escuela:</strong>
  <%= @sede.escuela %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @sede.direccion %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @sede.telefono %>
</p>

<p>
  <strong>Nombre Contacto:</strong>
  <%= @sede.nombre_contacto %>
</p>

<%= link_to 'Editar', edit_sede_path(@sede) %> |
<%= link_to 'Volver', sedes_path %>
